.todowrapper {
   margin: 10px;
   margin-top: 50px;
   text-align: center;
   border: solid 2px #333;
   border-radius: 5px;

   /* font-size: 16px;
   border: solid 2px #333;
   border-radius: 5px;
   max-width: 600px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center; */
}
